h2 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
.box-100 {
    width: 150px;
    height: 100px;
    float: left;
    margin: 38px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
    background-color: black;
    color: white;
}
.box-big {
    width: 100%;
    background-color: black;
    color: white;
    height: 200px;
}